In [1]:
import pymysql

In [2]:
loginInfo = {
    'host': 'localhost',
    'port': 3306,
    'user': 'root',
    'passwd': '0000',
    'db': 'TESTDB',
    'charset': 'utf8mb4'
}

In [3]:
conn = pymysql.connect(host='localhost', port=3306, user='root', passwd='0000', db='TESTDB', charset='utf8mb4')

In [4]:
cursor = conn.cursor()

In [5]:
import json
import time

path = 'Staff.json'
with open(path, 'r', encoding='utf-8') as f:
    jsondata = json.loads(f.read())

jsondata

{'001': {'ID': '001',
  'Name': 'Mike',
  'DeptId': '002',
  'Age': '45',
  'Gender': 'M',
  'Salary': '60000'},
 '002': {'ID': '002',
  'Name': 'Judy',
  'DeptId': '002',
  'Age': '30',
  'Gender': 'F',
  'Salary': '48000'},
 '003': {'ID': '003',
  'Name': 'Allen',
  'DeptId': '001',
  'Age': '22',
  'Gender': 'M',
  'Salary': '50000'},
 '004': {'ID': '004',
  'Name': 'Tom',
  'DeptId': '002',
  'Age': '47',
  'Gender': 'M',
  'Salary': '47000'},
 '005': {'ID': '005',
  'Name': 'Jack',
  'DeptId': '003',
  'Age': '36',
  'Gender': 'M',
  'Salary': '52000'},
 '006': {'ID': '006',
  'Name': 'Abby',
  'DeptId': '002',
  'Age': '24',
  'Gender': 'F',
  'Salary': '45000'},
 '007': {'ID': '007',
  'Name': 'Trump',
  'DeptId': '001',
  'Age': '80',
  'Gender': 'M',
  'Salary': '80000'},
 '008': {'ID': '008',
  'Name': 'Marry',
  'DeptId': '003',
  'Age': '29',
  'Gender': 'F',
  'Salary': '87000'}}

In [12]:
# 先寫好 SQL 語法
# 並將語法中會不斷改變的部分挖空 ( %s )
sql_insert = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES (%s, %s, %s, %s, %s, %s, %s);
"""

In [13]:
# 整理 jsondata 成可 insert 進資料庫的樣子，格式如下
'''
[('001', 'Mike', '002', '45', 'M', '60000', '2020-10-13 21:41:49'),
 ('002', 'Judy', '002', '30', 'F', '48000', '2020-10-13 21:41:49'),
 ('003', 'Allen', '001', '22', 'M', '50000', '2020-10-13 21:41:49'),
 ('004', 'Tom', '002', '47', 'M', '47000', '2020-10-13 21:41:49'),
 ('005', 'Jack', '003', '36', 'M', '52000', '2020-10-13 21:41:49'),
 ('006', 'Abby', '002', '24', 'F', '45000', '2020-10-13 21:41:49'),
 ('007', 'Trump', '001', '80', 'M', '80000', '2020-10-13 21:41:49'),
 ('008', 'Marry', '003', '29', 'F', '87000', '2020-10-13 21:41:49')]
'''
import time
t = time.strftime('%Y-%m-%d %H:%M:%S', time.localtime())
values = [tuple(jsondata[d].values()) + (t,) for d in jsondata]
values

[('001', 'Mike', '002', '45', 'M', '60000', '2021-08-21 16:04:51'),
 ('002', 'Judy', '002', '30', 'F', '48000', '2021-08-21 16:04:51'),
 ('003', 'Allen', '001', '22', 'M', '50000', '2021-08-21 16:04:51'),
 ('004', 'Tom', '002', '47', 'M', '47000', '2021-08-21 16:04:51'),
 ('005', 'Jack', '003', '36', 'M', '52000', '2021-08-21 16:04:51'),
 ('006', 'Abby', '002', '24', 'F', '45000', '2021-08-21 16:04:51'),
 ('007', 'Trump', '001', '80', 'M', '80000', '2021-08-21 16:04:51'),
 ('008', 'Marry', '003', '29', 'F', '87000', '2021-08-21 16:04:51')]

In [15]:
# 將 SQL 批量執行
print('新增資料筆數:', cursor.executemany(sql_insert, values))

# Commit 並檢查資料是否存入資料庫
conn.commit()

新增資料筆數: 8

In [16]:
sql = """
SELECT * from Staff;
"""
cursor.execute(sql)

8

In [17]:
data = cursor.fetchall()
for d in data:
    print(d)

('001', 'Mike', '002', 45, 'M', 60000, datetime.datetime(2021, 8, 21, 16, 4, 51))
('002', 'Judy', '002', 30, 'F', 48000, datetime.datetime(2021, 8, 21, 16, 4, 51))
('003', 'Allen', '001', 22, 'M', 50000, datetime.datetime(2021, 8, 21, 16, 4, 51))
('004', 'Tom', '002', 47, 'M', 47000, datetime.datetime(2021, 8, 21, 16, 4, 51))
('005', 'Jack', '003', 36, 'M', 52000, datetime.datetime(2021, 8, 21, 16, 4, 51))
('006', 'Abby', '002', 24, 'F', 45000, datetime.datetime(2021, 8, 21, 16, 4, 51))
('007', 'Trump', '001', 80, 'M', 80000, datetime.datetime(2021, 8, 21, 16, 4, 51))
('008', 'Marry', '003', 29, 'F', 87000, datetime.datetime(2021, 8, 21, 16, 4, 51))

In [18]:
conn.commit()
cursor.close()
conn.close()